@forward '../utils/vars.scss';

.fourth_section {
  margin-top: 48px;

  &_container {
    height: 196px;
  }

  &-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 0 10px;
  }

  &-promo {
    width: 100%;
    height: 147px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arial';
    font-style: normal;

    & > button {
      width: 224px;
      height: 47px;
      background: linear-gradient(180deg, #00aaaa 0%, #008baa 100%);
      border-radius: 24px;
      border: transparent;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: $c-white;
      cursor: pointer;
      transition: $transition-time;

      &:hover {
        background: $c-white;
        color: $c-primary;
        border: 2px solid $c-primary;
      }

      &:active {
        color: $c-black;
        border: 2px solid $c-black;
      }
    }
  }

  &-price {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: $c-primary;
  }

  &-title {
    & p:first-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $c-primary;
      margin-bottom: 4px;
    }

    & p:nth-child(2) {
      font-weight: 700;
      font-size: 22px;
      line-height: 130%;
      color: $c-black;
      margin-bottom: 8px;
    }

    & p:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $c-black;
    }
  }

  &-details {
    height: 47px;
    background-color: #f7f7f7;
    border-top: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;

    & > a {
      text-decoration: none;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 120%;
      color: #777777;
      border-bottom: 1px solid transparent;
      transition: $transition-time;

      &:hover {
        border-bottom: 1px solid #777777;
      }

      & > img {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .fourth_section-title {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .fourth_section {
    &_container {
      height: fit-content;
    }

    &-wrapper {
      padding: 0;
    }

    &-promo {
      flex-direction: column;
      height: 100%;

      & > div,
      & > button {
        margin-bottom: 20px;
      }

      & > div:first-child {
        margin-top: 20px;
      }
    }
  }
}
