@import 'utils';
@import 'fonts';
@import 'typography';
@import 'reset';
@import './sections/header.scss';
@import './sections/hero_section.scss';
@import './sections/third_section.scss';

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: $c-white;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  transition: width $transition-time;
}
